*{
  margin: 0;
  padding: 0;
}


	/* Custom style */
  .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  }

  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }


.resource-cards{
  width: 40em;
  height: 7em;
  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .resource-cards {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Auto height based on content */
  }
}

.related-qOne:hover{
  color: rgb(152, 147, 147);
}
